@model MyUniversity.Contracts.Models.TeacherModel

@{
    ViewBag.Title = "Teacher Details";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <h3>Personal Infomation</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.IdentityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.IdentityNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <h3>Enrollments Infomation</h3>
    @Html.ActionLink("Create", "Create", "Enrollments", new { studentId = Model.Id }, null)
    <dl class="dl-horizontal">
        <table class="table">
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mark)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Enrollments", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>
    </dl>
</div>
<p>
    @Html.ActionLink("Enrollments", "Index", "Enrollments", new { studentId = Model.Id }, null)
</p>
